<form id="message-form" class="form-horizontal h-100" action="/messaging/send/" method="POST" enctype="multipart/form-data">
    <div class="row d-flex flex-column h-100 py-3">
        <!-- Close messaging sidebar container -->
        <div class="col col-12">
            <div id="messaging-header" class="d-flex flex-row justify-content-left">
                <div class="col px-3">
                    <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#messaging-sidebar-content"
                            aria-expanded="false" aria-controls="messaging-sidebar-content">
                        <i class="fas fa-xmark"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Messaging sidebar title/buttons container -->
        <div class="col col-12 compose collapse show">
            <div id="messaging-title" class="d-flex flex-row justify-content-left pt-3">
                <div class="col col-auto h3 px-4">
                    <i class="fa-solid fa-envelopes-bulk fa-lg mx-3"></i>
                    Your Inbox
                </div>
            </div>
            <div id="inbox-button-row" class="d-flex flex-row py-4">
                <div id="inbox-btn-container-left" class="col px-3">
                    <button id="select-all" class="btn btn-outline-secondary" type="button">
                        Select all
                    </button>
                    <button class="btn btn-outline-secondary d-none" type="button">
                        Mark as unread
                    </button>
                </div>
                <div id="inbox-btn-container-right" class="col col-auto px-3">
                    <button id="send-msg-btn" class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target=".compose">
                        Send message...
                    </button>
                </div>
            </div>
        </div>
        <!-- Compose message collapse container -->
        <div id="compose-header" class="col col-12 compose collapse overflow-auto py-2" style="padding-left: 2rem; padding-right: 2rem;">
            <div class="d-flex flex-row">
                <div class="col col-auto px-2" style="font-weight: 300;">
                    <button id="return-to-inbox-btn" class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target=".compose">
                        Return to Inbox
                    </button>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center pt-4">
                <div class="compose-new col col-auto h4">
                    Compose Message
                </div>
            </div>
            <div class="d-flex flex-row pt-3">
                <div class="compose-new col col-auto px-1">
                    <label for="compose-input-user" class="control-label" style="font-weight: 300;">To:</label>
                </div>
                <div class="compose-new col" style="padding-right: 0.25rem;">
                    {{ message_form.receiver }}
                </div>
                {% for thread in inbox %}
                    <div id="thread-name{{ thread.nameID }}" class="col inbox-thread-name h4 text-center" style="display: none;">
                        {{ thread.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Messaging sidebar inbox container -->
        <div id="inbox" class="col col-12 compose collapse collapse-horizontal show" style="flex: 1; overflow-y: auto; overflow-x: hidden;">
            {% for thread in inbox %}
                {% include 'messaging/inbox_thread.html' %}
            {% empty %}
                <div class="row text-center pt-5">
                    <div class="col text-nowrap" style="font-weight: 300;">
                        Send a message to start a thread...
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Standard conversation collapse container -->
        <div id="view-thread-container" class="col col-12 compose collapse collapse-horizontal overflow-auto p-2" style="flex: 1;">
            {% for thread in inbox %}
                <div id="thread{{ thread.nameID }}" class="message-thread px-4" style="display: none;">
                    {% include "messaging/message_thread.html" %}
                </div>
            {% endfor %}
        </div>
        <!-- Messaging sidebar footer container -->
        <div id="messaging-footer" class="col col-12 compose collapse mt-2 mb-1">
            <div class="input-group px-3">
                {{ message_form.body }}
                <button id="send-message-btn" type="submit" class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
        <!-- Messaging sidebar compose footer -->
        <div id="compose-footer" class="col col-12 compose collapse show mt-2 mb-1">
            <div class="row text-center">
                <div id="unread-msgs-text" class="col">
                    You have {{ unread_messages }} unread message{{ unread_messages|pluralize }}.
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // Allow select inputs to be selected and update select/clear all btn accordingly
    var select_thread_inputs = document.querySelectorAll('[id^="thread_select"]');
    for (i=0; i < select_thread_inputs.length; i++) {
        select_thread_inputs[i].addEventListener("click", function(e) {
            e.stopPropagation();

            var total_inputs = document.querySelectorAll('[id^="thread_select"]');
            var checked_inputs = document.querySelectorAll('[id^="thread_select"]:checked');

            if (checked_inputs.length == total_inputs.length) {
                document.getElementById("select-all").innerText = "Clear all";
            } else {
                document.getElementById("select-all").innerText = "Select all";
            }
        });
    }

    // Add select all functionality
    var select_all_btn = document.getElementById("select-all");
    select_all_btn.addEventListener("click", function(e) {
        var select_thread_inputs = document.querySelectorAll('[id^="thread_select"]');
        var selecting = e.target.innerText == "Select all";

        for (i=0; i < select_thread_inputs.length; i++) {
            select_thread_inputs[i].checked = selecting;
        }

        if (selecting) {
            e.target.innerText = "Clear all";
        } else {
            e.target.innerText = "Select all";
        }
    });

    // Add event listener to close threads when the user returns to inbox
    var thread_container = document.getElementById("view-thread-container");
    thread_container.addEventListener("hidden.bs.collapse", function(e) {
            var compose_new_field = document.getElementsByClassName("compose-new");
            compose_new_field[0].style.display = "block";
            compose_new_field[1].style.display = "block";
            compose_new_field[2].style.display = "block";

            // Reset recipient form field to placeholder value
            document.getElementById("compose-input-user").value = -1;
    });

    // Add handler to send message button to close threads not covered before
    document.getElementById("send-msg-btn").addEventListener("click", function(e) {
        var message_threads = document.getElementsByClassName("message-thread");
        var inbox_thread_names = document.getElementsByClassName("inbox-thread-name");

        for (i=0; i < message_threads.length; i++) {
            message_threads[i].style.display = "none";
            inbox_thread_names[i].style.display = "none";
        }
    })

    function read_thread(nameID) {
        // Send AJAX POST to mark message thread as read
        let xhr = new XMLHttpRequest();

        xhr.open('POST', '/messaging/read/', true);
        xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

        xhr.send(JSON.stringify({ 'nameID': nameID }));

        xhr.onload = function () {
            if(xhr.status === 201) {
                // Thread successfully marked as read
                var response_data = JSON.parse(xhr.response);
                // Update inbox entry styling
                document.getElementById("inbox-thread" + response_data['nameID']).classList.remove("unread");
                // Update unread message count
                var unread_count = document.getElementById("unread-count").getAttribute("data-count");

                if (unread_count) {
                    if (unread_count <= response_data['read_count']) {
                        unread_count = 0;
                    } else {
                        unread_count = unread_count - response_data['read_count'];
                    }
                    document.getElementById("unread-msgs-text").innerText =
                        `You have ${unread_count} unread message${unread_count !== 1 ? 's': ''}.`
                    if (unread_count) {
                        document.getElementById("unread-count").setAttribute("data-count", unread_count);
                    } else {
                        document.getElementById("unread-count").removeAttribute("data-count");
                    }
                }
            }
        }
    }
    var inbox_row_click_handler = function (e) {
        e.preventDefault();
        // Hide recipient fields
        var compose_new_field = document.getElementsByClassName("compose-new");
        compose_new_field[0].style.display = "none";
        compose_new_field[1].style.display = "none";
        compose_new_field[2].style.display = "none";

        // Hide all name fields
        var inbox_thread_names = document.getElementsByClassName("inbox-thread-name");
        for (i=0; i < inbox_thread_names.length; i++) {
            inbox_thread_names[i].style.display = "none";
        }
        var target_val = e.target.closest('.inbox-row').getAttribute('value');
        // Show thread name title field
        document.getElementById("thread-name" + target_val).style.display = "block";
        // Show thread
        var thread_view = document.getElementById("thread" + target_val);
        thread_view.style.display = "block";
        // Set recipient form field value to selected user
        document.getElementById("compose-input-user").value = target_val;

        var collapse_elements = document.getElementsByClassName("compose");
        for (c=0; c < collapse_elements.length; c++) {
            collapse_elements[c].classList.toggle("show");
        }
        // Scroll message window to bottom
        document.getElementById("view-thread-container").scrollTop = thread_view.scrollHeight;

        if (document.getElementById("inbox-thread" + target_val).classList.contains("unread")) {
            read_thread(target_val);
        }
    };
    // Add click handler for inbox row collapse to show thread and mark as read
    var val;
    var inbox_rows = document.getElementsByClassName("inbox-row")
    for (i=0; i < inbox_rows.length; i++) {
        val = inbox_rows[i].getAttribute('value');
        inbox_rows[i].addEventListener("click", inbox_row_click_handler);
    }
    // Handle asynchronous form submit
    document.getElementById("message-form").addEventListener("submit", function (e) {
        e.preventDefault();

        document.getElementById("send-message-btn").classList.add("disabled");

        let xhr = new XMLHttpRequest();

        xhr.open('POST', '/messaging/send/', true);
        xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

        var form_data = {
            "receiverID": document.getElementById("compose-input-user").value,
            "body": document.getElementById("id_body").value
        };
        xhr.send(JSON.stringify(form_data));

        // Insert placeholder processing icon
        var thread_view = document.getElementById("thread" + form_data["receiverID"]);
        var placeholderHtml =
                '<div class="d-flex flex-row justify-content-end py-2"> \
                    <div class="col col-auto new thread-msg sent p-2"> \
                        <i class="fa-solid fa-spinner fa-spin"></i> \
                    </div> \
                </div>';
        if (thread_view) {
            thread_view.style.display = "block";
            document.getElementById("thread-name" + form_data["receiverID"]).style.display = "block";
            // Last thing could add, open new/navigate to existing thread from compose screen
            thread_view.insertAdjacentHTML("beforeend", placeholderHtml);
            // Scroll message window to bottom
            document.getElementById("view-thread-container").scrollTop = thread_view.scrollHeight;
        } else {
            // New message thread
            // Create thread and name title
            document.getElementById("view-thread-container").insertAdjacentHTML("beforeend",
                `<div id="thread${form_data['receiverID']}" class="message-thread px-4" style="display: block;">
                     ${placeholderHtml}
                 </div>`);
            var select_input = document.getElementById("compose-input-user");
            document.getElementById("compose-header").insertAdjacentHTML("beforeend",
                `<div id="thread-name${form_data['receiverID']}" class="col inbox-thread-name h4 text-center" style="display: block;">
                     ${select_input.options[select_input.selectedIndex].text}
                 </div>`);
        }

        xhr.onload = function () {
            var processing_icon = document.querySelectorAll(".new.thread-msg >i")[0];
            if(xhr.status === 201) {
                // Message sent successfully
                var response_data = JSON.parse(xhr.response);
                // Hide recipient fields
                var compose_new_field = document.getElementsByClassName("compose-new");
                compose_new_field[0].style.display = "none";
                compose_new_field[1].style.display = "none";
                compose_new_field[2].style.display = "none";
                // Clear message input
                document.getElementById("id_body").value = "";
                // Replace processing icon with message body
                processing_icon.outerHTML = response_data['message_body'];
                // Scroll message window to bottom in case text is more than one line
                var thread_view = document.getElementById("thread" + response_data["receiverID"]);
                document.getElementById("view-thread-container").scrollTop = thread_view.scrollHeight;
                // Delete inbox row with updated HTML from response, add new one to top
                var inbox_entry = document.getElementById("inbox-thread" + response_data['receiverID']);
                if (inbox_entry) {
                    inbox_entry.closest(".inbox-row").remove();
                }
                document.getElementById("inbox").insertAdjacentHTML("afterbegin", response_data['inbox_thread_html']);
                // Restore click handler to new element
                document.getElementById("inbox-thread" + response_data['receiverID']).closest(".inbox-row").addEventListener("click", inbox_row_click_handler);

            } else {
                // Message send failed
                processing_icon.parentNode.parentNode.remove();
            }
        }

        document.getElementById("send-message-btn").classList.remove("disabled");
    });

    {% if message_form %}
        // Add async listener to keep inbox updated while JS context is active
        let updateInbox = setInterval(function(timeout) {
            let xhr = new XMLHttpRequest();

            var unread_count = document.getElementById("unread-count").getAttribute("data-count");

            if (!unread_count) {
                unread_count = 0;
            }

            var url = `/messaging/read/?unread_count=${unread_count}`;
            xhr.open('GET', url, true);
            xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8");
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.send();

            xhr.onload = function () {
                if (xhr.status === 201) {
                    var data = JSON.parse(xhr.response);
                    if (!data['up-to-date']) {
                        // Update unread count
                        document.getElementById("unread-count").setAttribute("data-count", data['new_unread_count']);
                        // Update thread with new messages an add inbox rows to inbox
                        for (i=0; i < data['inbox_threads'].length; i++) {
                            var thread_nameID = data['inbox_threads'][i]['nameID'];
                            var thread_html = data['inbox_threads'][i]['thread_html'];
                            var inbox_thread_html = data['inbox_threads'][i]['inbox_thread_html'];

                            var old_thread = document.getElementById("thread" + thread_nameID);
                            if (old_thread) {
                                if (old_thread.style.display == "block") {
                                    // Thread is active, mark as read.
                                    // Callback will handle unread count
                                    read_thread(thread_nameID);
                                }
                                old_thread.innerHTML = thread_html;
                            } else {
                                thread_html = `<div id="thread${thread_nameID}" class="inbox-thread px-4" style="display: none;">
                                                ${thread_html}
                                            </div>`;
                                document.getElementById("view-thread-container").insertAdjacentHTML("afterbegin", thread_html);
                                // Add name title for new threads
                                var select_input = document.getElementById("compose-input-user");
                                document.getElementById("compose-header").insertAdjacentHTML("beforeend",
                                    `<div id="thread-name${thread_nameID}" class="col inbox-thread-name h4 text-center" style="display: block;">
                                        ${select_input.options[select_input.selectedIndex].text}
                                    </div>`);
                            }
                            // Delete inbox row with updated HTML from response, add new one to top
                            var inbox_row = document.getElementById("inbox-thread" + thread_nameID);
                            if (inbox_row) {
                                inbox_row.closest(".inbox-row").remove();
                            }
                            document.getElementById("inbox").insertAdjacentHTML("afterbegin", inbox_thread_html);
                            // Restore click handler to new element
                            document.getElementById("inbox-thread" + thread_nameID).closest(".inbox-row").addEventListener("click", inbox_row_click_handler);
                        }
                        // Scroll message window to bottom if user is monitoring thread
                        var thread_view = document.querySelectorAll('.message-thread[style*="block"]')[0];
                        if (thread_view) {
                            document.getElementById("view-thread-container").scrollTop = thread_view.scrollHeight;
                        }

                    }
                }
            }
        }, 7500);
    {% endif %}
</script>
