{% extends "studentview/base.html" %}
{% block content %}
<h1> My Classes</h1>
    {% for class in classes %}
    <div class = "studentclassbox">

        <h2>{{class.classname}}</h2>
        <p>Professor: {{class.professor}}</p>
        <p>{{class.datetime}}</p>
        <p>CRN: {{class.CRN}}</p>
        <p>{{class.waitlistposition}}</p>
        <button>Expand Details</button>
    </div>

    {%endfor%}

<a href="/studenthome/joinwaitlist" target="_blank">
    <button>
        Join Waitlist
    </button>
</a>

{% endblock content %}
