html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 4rem;
    overflow-x: hidden;
}

body > * {
    flex-shrink: 0;
}

#page-flex-row {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

/*
    Messaging sidebar styling
*/

/* #messaging-sidebar {
    padding-right: 0.75rem;
} */

#messaging-sidebar-button, #messaging-sidebar-container {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 0.4rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}

#messaging-sidebar-button {
    padding-top: 0.55rem;
    padding-bottom: 0.45rem;
}

#messaging-sidebar-button:hover {
    background-color: lightgray;
}

/* FontAwesome data-count for unread messages */
.fas[data-count]{
    position:relative;
}

.fas[data-count]:after{
    position: absolute;
    right: -0.75em;
    top: -.65em;
    content: attr(data-count);
    padding: .4em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    background: rgba(255,0,0,.9);
    text-align: center;
    min-width: 2em;
    font: bold .4em sans-serif;
}

#messaging-sidebar-container {
    border-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 0;
    margin-bottom: 1em;
}

#messaging-sidebar-content {
    min-width: 400px;
}

#inbox {
    max-height: 700px;
    overflow-y: scroll;
}

.inbox-row .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.inbox-row .list-group-item:hover {
    cursor: pointer;
}

.inbox-row .list-group-item:hover:not(.unread) {
    background-color: lightgray;
}

.inbox-row .list-group-item.unread {
    background-color: #7da5ccd0;
}

.inbox-row .list-group-item.unread:hover {
    background-color: lightsteelblue;
}

/* Alter standard bootstrap checkbox input */
[id^="thread_select"] {
    border: 2px solid lightslategray !important;
    border-radius: 10px !important;
    clip-path: circle(43% at 50% 50%);
}

/* End messaging sidebar styling */

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
/*new css specs created by Annemarie Zheng*/

.studentclassbox {
     box-sizing: border-box;
     border-radius: 0.5rem;
     box-shadow: 0px 0px 5px grey;
     display: flex;
     flex-direction: column;
     width: 315px;
     margin: 20px;
}

/* .studentclassbox.active {

} */
.studentclassbox.closed {
    opacity: 50%;
}
.studentclassbox.addclassbox {
    opacity: 50%;
    border: 5px dashed #5f788a;
}