{% extends "studentview/base.html" %}

{% block content %}
<div style="padding:40px">
    <h1>Create Class Waitlist(s)</h1>

    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="className">Name:</label>
            <input type="text" class="form-control" id="className" name="className" placeholder="Ex: Entrepreneurship in CS">
            <label for="classDesc">Description:</label>
            <input type="text" class="form-control" id="classDesc" name="classDesc" placeholder="Write about course requirements and who will be prioritized for admission">
            <label for="classCode">Code:</label>
            <input type="text" class="form-control" id="classCode" name="classCode" placeholder="Ex: CSCI425">
            <label for="classCRN">CRN:</label>
            <input type="number" class="form-control" id="classCRN" name="classCRN" placeholder="Ex: 25064">
            <label for="classCRN" class="collapse multi-collapse">Section #2 CRN (Optional):</label>
            <input type="number" class="form-control collapse multi-collapse" id="classCRN2" name="classCRN2" placeholder="Ex: 25064">
            <label for="classCRN" class="collapse multi-collapse">Section #3 CRN (Optional):</label>
            <input type="number" class="form-control collapse multi-collapse" id="classCRN3" name="classCRN3" placeholder="Ex: 25064">
            <label for="classSchedule">Schedule:</label>
            <input type="text" class="form-control" id="firstSectionSchedule" name="firstSectionSchedule" placeholder="Ex: MWF, 10am - 11am">
            <label for="classSchedule" class="collapse multi-collapse">Section #2 Schedule (Optional):</label>
            <input type="text" class="form-control collapse multi-collapse" id="secondSectionSchedule" name="secondSectionSchedule" placeholder="Ex: MWF, 10am - 11am">
            <label for="classSchedule" class="collapse multi-collapse">Section #3 Schedule (Optional):</label>
            <input type="text" class="form-control collapse multi-collapse" id="thirdSectionSchedule" name="thirdSectionSchedule" placeholder="Ex: MWF, 10am - 11am">
            <label for="className">Sort Type:</label>
            <select class="form-control" id="classSort" name="classSort">
                <option value="fcfs">First Come First Serve</option>
                <option value="seniority">By Seniority</option>
                <option value="random">Randomized</option>
            </select>

            <label for="classTerm">Term:</label>
            <input type="text" class="form-control" id="classTerm" name="classTerm" placeholder="Ex: Spring 2023">
            <label for="anonymous_waitlist" data-toggle="tooltip" title="A student's identifying information will not be displayed to other students. It will still be displayed to you.">Anonymous Waitlist:</label>
            <input type="checkbox" id="anonymous_waitlist" name="anonymous_waitlist"><br>
            <label for="request_year" class="collapse multi-collapse" data-toggle="tooltip" title="Students will need to have entered their academic year to join your class, and their academic year will be displayed to you to help inform how they should be prioritized">Request Academic Year from Student:</label>
            <input type="checkbox" id="request_academic_status" name="request_academic_status" class="collapse multi-collapse"><br>
            <label for="request_major" class="collapse multi-collapse" data-toggle="tooltip" title="Students will need to have entered their major to join your class, and their major will be displayed to you to help inform how they should be prioritized">Request Major from Student:</label>
            <input type="checkbox" id="request_major" name="request_major" class="collapse multi-collapse"><br>
            <!--<label for="request_msg">Request Message from Student:</label>
            <input type="checkbox" id="request_msg" name="request_msg">-->

        </div>
        <button type="submit" class="btn btn-primary" style="margin-top:20px;width:100%">Create Waitlist(s)</button>
        <button type="button" class="btn btn-secondary" style="margin-top:20px;width:100%" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Show/Hide Advanced Options</button>
    </form>

    {% for aClass in classes %}
        <p> Class Name: {{ aClass }} - CLASS ID: {{aClass.id}}</p>
    {% endfor %}
</div>

{% endblock content %}
