{% extends "studentview/base.html" %}

{% block content %}
<div style="padding:40px">
    <h1>Create Class Waitlist(s)</h1>

    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="className">Name:</label>
            <input type="text" class="form-control" id="className" name="className" placeholder="Ex: Entrepreneurship in CS">
            <label for="classDesc">Description:</label>
            <input type="text" class="form-control" id="classDesc" name="classDesc" placeholder="Write about course requirements and who will be prioritized for admission">
            <label for="classCode">Code:</label>
            <input type="text" class="form-control" id="classCode" name="classCode" placeholder="Ex: CSCI425">
            <label for="classCRN">Section #1 CRN:</label>
            <input type="number" class="form-control" id="classCRN" name="classCRN" placeholder="Ex: 25064">
            <label for="classCRN">Section #2 CRN (Optional):</label>
            <input type="number" class="form-control" id="classCRN2" name="classCRN2" placeholder="Ex: 25064">
            <label for="classCRN">Section #3 CRN (Optional):</label>
            <input type="number" class="form-control" id="classCRN3" name="classCRN3" placeholder="Ex: 25064">
            <label for="classSchedule">Section #1 Schedule:</label>
            <input type="text" class="form-control" id="firstSectionSchedule" name="firstSectionSchedule" placeholder="Ex: MWF, 10am - 11am">
            <label for="classSchedule">Section #2 Schedule (Optional):</label>
            <input type="text" class="form-control" id="secondSectionSchedule" name="secondSectionSchedule" placeholder="Ex: MWF, 10am - 11am">
            <label for="classSchedule">Section #3 Schedule (Optional):</label>
            <input type="text" class="form-control" id="thirdSectionSchedule" name="thirdSectionSchedule" placeholder="Ex: MWF, 10am - 11am">
            <label for="classSort">How Class Will be Sorted:</label>
            <input type="text" class="form-control" id="classSort" name="classSort" placeholder="Ex: First Come, First Served">
            <label for="classTerm">Term:</label>
            <input type="text" class="form-control" id="classTerm" name="classTerm" placeholder="Ex: Spring 2023">
            <label for="anonymous_waitlist">Anonymous Waitlist:</label>
            <input type="checkbox" id="anonymous_waitlist" name="anonymous_waitlist">

        </div>
        <button type="submit" class="btn btn-primary" style="margin-top:20px;width:100%">Create Waitlist(s)</button>
    </form>

    {% for aClass in classes %}
        <p> Class Name: {{ aClass }} - CLASS ID: {{aClass.id}}</p>
    {% endfor %}
</div>

{% endblock content %}
