{% extends "studentview/base.html" %}
{% block content %}
<div style="padding:40px">
        <h1>Waitlist Details</h1>
        
        <legend> <h2> Name: {{ classwaitlist.className }}  - Code: {{ classwaitlist.classCode}} </h2> </legend>

        <legend> <h2> Professor: {{ classwaitlist.professor }} </h2> </legend>

        <legend> <h2> Description: {{ classwaitlist.classDescription }} </h2> </legend>

        <legend> <h2> CRN: {{ classwaitlist.crn }} </h2> </legend>

        <legend> <h2> Schedule: {{ classwaitlist.schedule }} </h2> </legend>

        {% if classwaitlist.sortType == "fcfs" %}
            <legend> <h2> Sort By: First Come First Serve </h2> </legend>

        {% elif classwaitlist.sortType == "seniority" %}
            <legend> <h2> Sort By: Seniority </h2> </legend>

        {% elif classwaitlist.sortType == "random" %}
            <legend> <h2> Sort By: Randomized </h2> </legend>

        {% else %}
             <legend> <h2> Sort By: Legacy Class No Sort Function </h2> </legend>
        {% endif %}

        <a href="{% url 'sort_waitlist' pk=classwaitlist.id sortType=classwaitlist.sortType %}"><button class="btn btn-secondary">Sort Waitlist</button></a>
        
        <legend> <h2> Term: {{ classwaitlist.term }} </h2> </legend>

        <legend> <h2> Anonymous: {{ classwaitlist.anonymous_waitlist }} </h2> </legend>

        {% if ownsClass %}
            <a href="../edit"><button class="btn btn-secondary">Edit Details</button></a>
            {% if classwaitlist.archived %}
                <a href="{% url 'unarchive_class' class_id=classwaitlist.id %}"><button class="btn btn-secondary">Un-archive Class</button></a>
            {% else %}
                <a href="{% url 'archive_class' class_id=classwaitlist.id %}"><button class="btn btn-secondary">Archive Class</button></a>
            {% endif %}
        {% endif %}

        <h3 style="margin-top:20px"> Students In Line: </h3>

        {% for studentticket in classwaitlist.studentticket_set.all|dictsort:"position" %}

            <p>
                {% if classwaitlist.anonymous_waitlist and not isProfessor and studentticket.student != user %}
                Anonymous Student: {{studentticket.date_joined|date:"d/m/Y, H:i:s"}}
                {% else %}
                    {{ studentticket }}
                {% endif %}
                {% if studentticket.student == user %}

                    {% if studentticket.waitlist_status == "p" %}
                        <span style="color:royalblue">Current Spot on Waitlist</span>
                    {% endif %}
                    {% if studentticket.waitlist_status == "a" %}
                        <span style="color:mediumseagreen">Status: Accepted</span>
                    {% endif %}
                    {% if studentticket.waitlist_status == "r" %}
                        <span style="color:mediumvioletred">Status: Rejected</span>
                    {% endif %}
                {% endif %}

                {% if isProfessor %}
                    <a href="{% url 'move_student' ticket_id=studentticket.id direction='up' %}" class="btn btn-sm btn-primary">Move Up</a>
                    <a href="{% url 'move_student' ticket_id=studentticket.id direction='down' %}" class="btn btn-sm btn-primary">Move Down</a>
                    {% if studentticket.waitlist_status == "p" %}
                        <a href="{% url 'update_waitlist_status' ticket_id=studentticket.id newstatus='a' %}" class="btn btn-sm btn-info">Accept</a>
                        <a href="{% url 'update_waitlist_status' ticket_id=studentticket.id newstatus='r' %}" class="btn btn-sm btn-warning">Reject</a>
                    {% endif %}
                    {% if studentticket.waitlist_status == "a" %}
                        <span>Accepted</span>
                        <a href="{% url 'update_waitlist_status' ticket_id=studentticket.id newstatus='p' %}" class="btn btn-sm btn-secondary">Move Back to Waitlist</a>
                    {% endif %}
                    {% if studentticket.waitlist_status == "r" %}
                        <span>Rejected</span>
                        <a href="{% url 'update_waitlist_status' ticket_id=studentticket.id newstatus='p' %}" class="btn btn-sm btn-secondary">Move Back to Waitlist</a>
                    {% endif %}
                {% endif %}
            </p>

        {% endfor %}

</div>
        
{% endblock content %}