{% extends "studentview/base.html" %}
{% block content %}
<div style="padding:40px">
        <h1>Waitlist Details</h1>
        
        <legend> <h2> Name: {{ classwaitlist.className }}  - Code: {{ classwaitlist.classCode}} </h2> </legend>

        <legend> <h2> Professor: {{ classwaitlist.professor }} </h2> </legend>

        <legend> <h2> CRN: {{ classwaitlist.crn }} </h2> </legend>

        <legend> <h2> Schedule: {{ classwaitlist.schedule }} </h2> </legend>

        <legend> <h2> Sort By: {{ classwaitlist.sortType }} </h2> </legend>
        
        <legend> <h2> Term: {{ classwaitlist.term }} </h2> </legend>

        {% if ownsClass %}
            <a href="../edit"><button class="btn btn-secondary">Edit Details</button></a>
        {% endif %}

        <h3 style="margin-top:20px"> Students In Line: </h3>

        {% for studentticket in classwaitlist.studentticket_set.all|dictsort:"position" %}

            <p>
                {{ studentticket }}
                {% if isProfessor %}
                    <a href="{% url 'move_student' ticket_id=studentticket.id direction='up' %}" class="btn btn-sm btn-primary">Move Up</a>
                    <a href="{% url 'move_student' ticket_id=studentticket.id direction='down' %}" class="btn btn-sm btn-primary">Move Down</a>
                {% endif %}
            </p>

        {% endfor %}

</div>
        
{% endblock content %}