{% extends "studentview/base.html" %}

{% block content %}
<h1 style="text-align:center;margin-bottom:20px">Join Waitlist</h1>

<div class="row">
<div class="mx-auto col-10 col-md-8 col-lg-6">
<form style="text-align:center;margin-bottom:30px" action="" method="post">
    {% csrf_token %}
    <div class="form-group;">
        <input style="width:100%" type="number" class="form-control" id="classID" name="classID" aria-describedby="idhelp" placeholder="Enter class ID here">
    </div>
    {% if message %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <button style="width:100%;margin-top:10px;" type="submit" class="btn btn-primary">Submit</button>
</form>


<div style="background-color: #f0f0f0;padding:30px;border-radius:20px;height:400px;overflow-y:auto">
<h3 style="padding-bottom:20px">Available Classes</h3>

{% for aClass in classes %}
    <p style="border-bottom: 1px solid grey;padding-bottom:20px;padding-top:5px"> Class Name: {{ aClass }} - CLASS ID: {{aClass.id}}</p>
{% endfor %}
</div>

</div>
</div>

{% endblock content %}
